@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

/* ___________________________________ Banner ___________________________________ */
.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #3475ca;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.25;
}
.banner .content {
  position: relative;
  max-width: 750px;
  text-align: center;
}
.banner .content h2 {
  color: #fff;
  font-size: 60px;
}
.banner .content p {
  color: #fff;
  font-size: 18px;
}
.banner header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
.banner header .logo {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
}
.banner header .logo:hover {
  color: #ddd;
}
.banner header .toggle {
  cursor: pointer;
  position: relative;
  width: 36px;
  height: 28px;
  background: url(./img/toggle.png);
  background-size: cover;
}

/* ___________________________________ About ___________________________________ */
.about {
  position: relative;
  width: 100%;
  display: flex;
}
.about .content-box {
  background: #162c3b;
  color: #fff;
  padding: 100px;
  width: 50%;
}
.heading {
  color: #fff;
  font-size: 30px;
  margin-bottom: 25px;
  letter-spacing: 1px;
}
.content-box p {
  color: #ddd;
}
.about .img-box {
  background: url(./img/window.jpg);
  width: 50%;
  min-height: 650px;
  background-size: cover;
  background-position: center;
}

/* ___________________________________ Services ___________________________________ */
.services {
  background-color: #12222d;
  padding: 100px;
  text-align: center;
}
.services p {
  color: #fff;
  width: 60%;
  margin: 0 auto;
}
.services .container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 60px;
}
.services .container .service-box {
  border-radius: 10px;
  position: relative;
  background: #fff;
  width: 330px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.services .container .service-box:hover {
  background: #83a6d3;
  transform: scale(1.05);
}
.services .container .service-box img {
  max-width: 150px;
  margin-bottom: 15px;
}
.services .container .service-box h2 {
  letter-spacing: 1px;
}

/* ___________________________________ Technology ___________________________________ */
.technology {
  background: #3f8ffc;
  width: 100%;
  padding: 100px;
  padding-top: 300px;
  margin-top: -300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.technology .content-box {
  max-width: 800px;
}
.technology .img-box {
  max-width: 250px;
}
.technology .img-box img {
  max-width: 100%;
}

/* ___________________________________ Clients ___________________________________ */
.client {
  background: #162c3b;
  padding: 100px;
  text-align: center;
}
.client p {
  color: #ddd;
  width: 70%;
  margin: 0 auto;
}
.client .img-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 40px;
}
.client .img-box img {
  cursor: pointer;
  max-width: 200px;
  margin: 20px;
  opacity: 0.25;
  transition: 0.3s;
}
.client .img-box img:hover {
  opacity: 1;
}
/* ___________________________________ Testimonials ___________________________________ */
.testimonials {
  position: relative;
  padding: 100px;
  background: #12222d;
  text-align: center;
}
.testimonials .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;
  flex-wrap: wrap;
}
.testimonials .container .content-box {
  border-radius: 3px;
  background: #fff;
  padding: 60px 50px;
  width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}
.testimonials .container .content-box p {
  color: #333;
  font-style: italic;
  margin-bottom: 20px;
}
.testimonials .container .content-box h3 {
  width: 100%;
  font-weight: 500;
  color: #3f8ffc;
  text-align: end;
}
